/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 28 Mar 2023, 7:38:23 pm
    Author     : user
*/
.about-us-box {
    margin-top: 100px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 20px;
    
}

.about-us-box h3 {
    margin-top: 10;
    font-size: 24px;
    color: #555;
}

.about-us-box p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #777;
}

.SIT-map{
    margin-top: 100px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 20px;
}
.SIT-map h3{
    color: black;
}
.SIT-map  figcaption{
    color: black;
}

#building{
    
    width: 100%;
}
#map{
    width: 100%;
}

.contactus-form{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 30px 0;
    
}
@media (max-width: 768px) {
  .contactus-form{
    width: auto;
  }
}

.contactus-form h2{
    color: #333;
    margin: 0 0 30px 0;
    display: inline-block;
    padding: 0 30px 10px 0;
    border-bottom: 3px solid #592f9b ;
}
.contactus-form form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.contactus-form .form-group {
    margin-bottom: 20px;
}
.contactus-form label {
    font-weight: normal;
}
.contactus-form input[type="checkbox"] {
    margin-top: 2px;
}
.contactus-form .btn {        
    font-weight: bold;
    background: #592f9b;
    border: none;
    margin-top: 20px;
    min-width: 140px;
}
.contactus-form .btn:hover, .transaction-.btn:focus {
    background: #592f9b ;
    outline: none !important;
}
.contactus-form a {
    color: #592f9b;
    text-decoration: underline;
}
.contactus-form a:hover {
    text-decoration: none;
}
.contactus-form a {
    color: #592f9b;
    text-decoration: none;
}	
.contactus-form a:hover {
    text-decoration: underline;
}